.select-input {
    padding: 10px;
    // width: 100%;
    text-align: center;
    // .menu-width {
    //     width: 200px;
    // }
}
.my-option {
    height: 400px;
}
.mix-option {
    height: 400px;
}