<gridster [options]="options1">
    <gridster-item [item]="item" *ngFor="let item of dashboard1;let i = index;">
        <div [ngSwitch]="i+1">
                <div *ngSwitchCase="'1'">
                    <div echarts [options]="myOption" class="my-option"></div>
                </div>
                <div *ngSwitchCase="'2'">
                    <div echarts [options]="mixOption" class="mix-option"></div>
                </div>
                    <!-- <div *ngSwitchCase="'3'">
                    <div echarts [options]="mixOption" ></div>
                </div> -->
            </div>
        
    </gridster-item>
</gridster>
