<gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of dashboard;let i = index;">
        <nz-card nzTitle='demo'>
            <div [ngSwitch]="i">
                <div *ngSwitchCase="'0'">
                        <div echarts [options]="barOption" class="demo-chart" (chartInit)="onChartInit($event,i)" id="demo1"></div>
                </div>
                <div *ngSwitchCase="'1'">
                    <div echarts [options]="lineOption" class="demo-chart" (chartInit)="onChartInit($event,i)" id="demo2"></div>
                </div>
                <div *ngSwitchCase="'2'">
                    <div echarts [options]="pieOption" class="demo-chart" (chartInit)="onChartInit($event,i)" id="demo3"></div>
                </div>
                <div *ngSwitchCase="'3'">
                        <div echarts [options]="radarOption" class="demo-chart" (chartInit)="onChartInit($event,i)" id="demo4"></div>
                </div>
                <div *ngSwitchCase="'4'">
                    <div echarts [options]="gaugeOption" class="demo-chart" (chartInit)="onChartInit($event,i)" id="demo5"></div>
                </div>
            </div>
        </nz-card>
    </gridster-item>
</gridster>
    